h2
  text-align: left
  padding: 5px 15px
  background-image: linear-gradient(to top right, deepskyblue, #feffc1)

.wrapper
  padding-left: 12px
  padding-right: 12px
  display: grid
  grid-gap: 15px
  grid-template-columns: 450px 450px 450px

.card-header
  background-image: linear-gradient(to top right, deepskyblue, blue)
