<h2>Overview</h2>
<div class="py-0" style="">
  <div class="row-md-4 p-2">
    <div class="card my-1">
      <div class="card-header bg-primary">
        <h5 class="mb-0 text-left">AirUnit Complete Id</h5>
      </div>
      <div class="card-body p-1">
        <p class="card-text p-2">eca1dad9-f972-4bff-b5e1-ce2986b09c46</p>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-header bg-primary">
        <h5 class="mb-0 text-left">Latest Reading Date</h5>
      </div>
      <div class="card-body p-1">
        <p class="card-text p-2">Today [PLACEHOLDER]</p>
      </div>
    </div>
  </div>
  <div class="wrapper">
      <div class="card temperature my-4">
        <div class="card-header bg-primary">
          <h5 class="mb-0 text-left">Temperature</h5>
        </div>
        <div class="card-body p-3">
          <p class="card-text">Temperature [VALUE] °C</p>
        </div>
      </div>
      <div class="card humidity my-4">
        <div class="card-header bg-primary">
          <h5 class="mb-0 text-left">Humidity</h5>
        </div>
        <div class="card-body p-3">
          <p class="card-text">Humidity [VALUE]</p>
        </div>
      </div>
      <div class="card water my-4">
        <div class="card-header bg-primary">
          <h5 class="mb-0 text-left">Water Detection</h5>
        </div>
        <div class="card-body p-3">
          <p class="card-text">[USE CONDITION TO PRINT A STRING, USE JS]</p>
        </div>
      </div>
      <div class="card dust my-4">
        <div class="card-header bg-primary">
          <h5 class="mb-0 text-left">Dust Levels</h5>
        </div>
        <div class="card-body p-3">
          <p class="card-text">Dust level: [VALUE + SINGLE PM VALUES]</p>
        </div>
      </div>
      <div class="card gas my-4">
        <div class="card-header bg-primary">
          <h5 class="mb-0 text-left">Gas Reading</h5>
        </div>
        <div class="card-body p-3">
          <p class="card-text">Gas reading: [VALUE]</p>
        </div>
      </div>
    <div class="card gps my-4">
      <div class="card-header bg-primary">
        <h5 class="mb-0 text-left">GPS Values</h5>
      </div>
      <div class="card-body p-3">
        <p class="card-text">[SINGULAR GPS VALUES]</p>
      </div>
    </div>
  </div>
</div>




