<h2>Reading History</h2>

<div class="row">
  <div class="column-1">
    <ul>
      <li class="nav-readings"  *ngFor="let element of readings">
        <button class="nav-link" id="{{element.readingId}}" (click)="setSelectedReading(element)">Reading of {{element.date}}</button>
      </li>
    </ul>
  </div>
  <div class="column-2">
    <h3>Temperature</h3>
    <p>{{selectedReading.temperatureReading+" °C"}}</p>
    <h3>Humidity</h3>
    <p>{{selectedReading.humidityReading+" %"}}</p>
    <h3>Dry or Wet</h3>
    <p>{{"The unit is "+selectedReading.dryOrWet}}</p>
    <h3>Dust</h3>
    <p>{{selectedReading.dust+" Particles/m3"}}</p>
    <h3>Pm 10</h3>
    <p>{{selectedReading.pm10Reading+" μg/m3"}}</p>
    <h3>Pm 25</h3>
    <p>{{selectedReading.pm25Reading+" μg/m3"}}</p>
    <h3>Gas</h3>
    <p>{{selectedReading.gasReading+" ppm"}}</p>
  </div>
  <div class="column-3">
    <google-map
      [center]="center"
      [options]="options"
      [zoom]="zoom"
      height="800px"
      width="100%">
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [title]="marker.title"
      >
      </map-marker>
    </google-map>
  </div>
</div>
