<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

<h2>Reading History</h2>
<div class="row">
  <div class="column-1">
    <ul>
      <li class="nav-readings"  *ngFor="let element of readings">
        <button class="nav-link" id="{{element.readingId}}" (click)="setSelectedReading(element)">Reading of {{element.date}}</button>
      </li>
    </ul>
  </div>
  <div class="column-2">
    <h3>Temperature</h3>
    <p>{{selectedReading.temperatureReading+" °C"}}</p>
    <h3>Humidity</h3>
    <p>{{selectedReading.humidityReading+" %"}}</p>
    <h3>Dry or Wet</h3>
    <p>{{"The unit is "+selectedReading.dryOrWet}}</p>
    <h3>Dust</h3>
    <p>{{selectedReading.dust+" Particles/m3"}}</p>
    <h3>Pm 10</h3>
    <p>{{selectedReading.pm10Reading+" μg/m3"}}</p>
    <h3>Pm 25</h3>
    <p>{{selectedReading.pm25Reading+" μg/m3"}}</p>
    <h3>Gas</h3>
    <p>{{selectedReading.gasReading+" ppm"}}</p>
  </div>
  <div class="column-3">
    <div id="mapid">

    </div>
  </div>
</div>
