<h2>AirUnit Control Panel</h2>
  <ul>
    <li><a id="overview-menu" routerLink="overview" [queryParams]="{id: airUnitId }">Current Overview</a></li>
    <li><a id="temp-menu" routerLink="temp-chart" [queryParams]="{id: airUnitId }">Temperature Chart</a></li>
    <li><a id="humidity-menu" routerLink="humidity-chart" [queryParams]="{id: airUnitId }">Humidity Chart</a></li>
    <li><a id="particles-menu" routerLink="particles-chart" [queryParams]="{id: airUnitId }">Particles Chart</a></li>
    <li><a id="gas-menu" routerLink="gas-chart" [queryParams]="{id: airUnitId }">Gas Chart</a></li>
    <li><a id="list-menu" routerLink="list-readings" [queryParams]="{id: airUnitId }">Reading History</a></li>
    <li><a href="#">Back to main</a></li>
  </ul>
<div>
  <router-outlet></router-outlet>
</div>


