<div>
  <h1>Welcome to SmartCity Air Reporting!</h1>
  <h2>Choose a reporting device</h2>
  <section id="device-bar">
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a [routerLink]="'/airunit-5e73'" [queryParams]="{id: '5e73dd3e-a819-410e-8d8e-9cb5697bbbe2'}">AirUnit 5e73</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/airunit-f41b'" [queryParams]="{id: 'f41bccb0-825f-455a-abb4-7f7e101c5d8f'}">AirUnit f41b</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/airunit-67fb'" [queryParams]="{id: '67fb474a-f5c5-421e-be1f-2304212db905'}">AirUnit 67fb</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/airunit-eca1'" [queryParams]="{id: 'eca1dad9-f972-4bff-b5e1-ce2986b09c46'}">AirUnit eca1</a>
        </li>
      </ul>
    </div>
  </section>
    <google-map
      height="650px"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
    ></google-map>
</div>
