<div>
  <h1>Welcome to SmartCity Air Reporting!</h1>
  <h2>Choose a reporting device</h2>
  <section id="device-bar">
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let airUnit of airunits">
          <a [routerLink]="'/airunit-'+airUnit.unitId.substring(0,4)" [queryParams]="{id: airUnit.unitId}">{{airUnit.name}}</a>
        </li>
      </ul>
    </div>
  </section>
    <google-map
      [center]="center"
      [options]="options"
      [zoom]="zoom"
      height="650px"
      width="100%">
  <map-marker
      #markerElem
      *ngFor="let marker of markers"
      [position]="marker.position"
      [title]="marker.title"
    >
    </map-marker>
    </google-map>
</div>
