<div>
  <h1>Welcome to SmartCity Air Reporting!</h1>
  <h2>Choose a reporting device</h2>
  <section id="device-bar">
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a [routerLink]="'/airunit-55'">Air Unit 55</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/airunit-49'">Air Unit 49</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/airunit-100'">Air unit 100</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/airunit-1'">Air unit 1</a>
        </li>
      </ul>
    </div>
  </section>
</div>
